<a href="https://colab.research.google.com/github/ruedas91/FinTechrueda/blob/main/GC_preventing_credit_card_defaults_part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Preventing Credit Card Defaults - Part 1

In this activity, you will use Keras to build a neural network model that predicts whether a credit card customer will default on their debt. You will apply what you learned in the previous demonstration. But, instead of using a dataset that contains 2 features, you will build a neural network model from a dataset that contains 22 features and 1 target.

## Instructions:

1. Read the CSV file from the Resources folder into a Pandas DataFrame.

2. Define the features set `X` by including all of the DataFrame columns except the “DEFAULT” column.

3. Create the target `y` by assigning the values of the DataFrame “DEFAULT” column.

4. Create the training and testing sets using the `train_test_split` function from scikit-learn.

5. Scale the features data using the `StandardScaler` from sklearn.

6. Create a neural network model with an input layer that consists of 22 inputs, one hidden layer, and an output layer. Use the `units` parameter to define 12 neurons for the hidden layer and a single output for the output layer. Use the ReLU activation function for the hidden layer and the sigmoid activation function for the output layer.

7. Display the model structure using the `summary` function.

## References:

[Keras Sequential model](https://keras.io/api/models/sequential/)

[Keras Dense module](https://keras.io/api/layers/core_layers/dense/)

In [ ]:
# Imports
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

%matplotlib inline

## Step 1:  Read the CSV file from the Resources folder into a Pandas DataFrame.

In [ ]:
# Upload cc_default.csv to Colab
from google.colab import files

csv_file = files.upload()

In [ ]:
# Read the into a Pandas DataFrame
cc_df = pd.read_csv("cc_default.csv")

# Review the DataFrame
# YOUR CODE HERE

,LIMIT_BAL,EDUCATION,MARITAL_STATUS,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,...,"""BILL_AMT4""",BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,DEFAULT
0,20000,2,1,24,2,2,-1,-1,-2,-2,...,0,0,0,0,689,0,0,0,0,1
1,120000,2,2,26,-1,2,0,0,0,2,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,90000,2,2,34,0,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,50000,2,1,37,0,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,50000,2,1,57,-1,0,-1,0,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

## Step 2: Define the features set `X` by including all of the DataFrame columns except the “DEFAULT” column.

In [ ]:
# Define features set X by selecting all columns but DEFAULT
X = # YOUR CODE HERE

# Display the features DataFrame
# YOUR CODE HERE

,LIMIT_BAL,EDUCATION,MARITAL_STATUS,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,...,BILL_AMT3,"""BILL_AMT4""",BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
0,20000,2,1,24,2,2,-1,-1,-2,-2,...,689,0,0,0,0,689,0,0,0,0
1,120000,2,2,26,-1,2,0,0,0,2,...,2682,3272,3455,3261,0,1000,1000,1000,0,2000
2,90000,2,2,34,0,0,0,0,0,0,...,13559,14331,14948,15549,1518,1500,1000,1000,1000,5000
3,50000,2,1,37,0,0,0,0,0,0,...,49291,28314,28959,29547,2000,2019,1200,1100,1069,1000
4,50000,2,1,57,-1,0,-1,0,0,0,...,35835,20940,19146,19131,2000,36681,10000,9000,689,679

## Step 3: Create the target `y` by assigning the values of the DataFrame “DEFAULT” column.

In [ ]:
# Define target set by selecting the DEFAULT column
y = c# YOUR CODE HERE

# Display a sample y
# YOUR CODE HERE

0    1
1    1
2    0
3    0
4    0
Name: DEFAULT, dtype: int64

## Step 4: Create the training and testing sets using the `train_test_split` function from scikit-learn.

In [ ]:
# Create training and testing datasets using train_test_split
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = # YOUR CODE HERE

## Step 5: Scale the features data using the `StandardScaler` from sklearn.

In [ ]:
# Create the StandardScaler instance
X_scaler = # YOUR CODE HERE

In [ ]:
# Fit the scaler to the features training dataset
# YOUR CODE HERE

StandardScaler()

In [ ]:
# Scale both the training and testing data from the features dataset
X_train_scaled = # YOUR CODE HERE
X_test_scaled = # YOUR CODE HERE

## Step 6: Create a neural network model with an input layer that consists of 22 inputs, one hidden layer, and an output layer. Use the `units` parameter to define 12 neurons for the hidden layer and a single output for the output layer. Use the ReLU activation function for the hidden layer and the sigmoid activation function for the output layer.

In [ ]:
# Imports
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential

In [ ]:
# Define the the number of inputs to the model
number_inputs = # YOUR CODE HERE

# Define the number of hidden nodes for the model
number_hidden_nodes = # YOUR CODE HERE

# Create the Sequential model instance
neuron = # YOUR CODE HERE

# Add a Dense layer specifying the number of inputs, the number of hidden nodes, and the activation function
# YOUR CODE HERE

# Add the output layer to the model specifying the number of output neurons and activation function
# YOUR CODE HERE

## Step 7: Display the model structure using the `summary` function.

In [ ]:
# Display the Sequential model summary
# YOUR CODE HERE

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 12)                276
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 13
=================================================================
Total params: 289
Trainable params: 289
Non-trainable params: 0
_________________________________________________________________